<div class="flex-grid">
  <div class="row">
    <div class="cell size2">2</div>
    <div class="cell size8">
      <div class="leader">Unde stai?</div>
      {{outlet}}
      {{place-autocomplete-field
        value=model.address
        disable=false
        handlerController=this
        inputClass='place-autocomplete--input'
        focusOutCallback='done'
        placeChangedCallback='placeChanged'
        types='(cities)'
        withGeoLocate=true
      }}
      <hr/>
      <b>{{model.address}}</b>
    </div>
    <div class="cell size2">2</div>
  </div>
  <div class="row">
    <div class="cell size2"></div>
    <div class="cell size8">
      {{#g-map lat=37.7833 lng=-122.4167 zoom=12 as |context|}}
        {{g-map-address-marker context address="San Francisco, Russian Hill"}}
        {{#g-map-address-marker context address="Delft, The Netherlands" as |markerContext|}}
          {{#g-map-infowindow markerContext}}
            Works in block form too.
          {{/g-map-infowindow}}
        {{/g-map-address-marker}}

        {{g-map-address-marker context address=searchedAddress
                              onLocationChange=(action "onLocationChangeHandler")}}
      {{/g-map}}
    </div>
    <div class="cell size2"></div>
  </div>
</div>
